.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-family: 'Lobster';
  color: #0f172a;
}

.languages-container {
}

.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.repo-container {
  list-style-type: none;
  display: flex;

  flex-wrap: wrap;
}
